#headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    border: 0px solid;
    position: sticky;
    top: 0%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
#headerContainer>div{
    border: 0px solid;
}
img{
    width: 2em;
}
input{
    border-radius: 10px;
    width: 200px;
    height: 30px;
}
