#ResultContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2%;
}
#ResultContainer *{
    border: 1px solid;
}

@media screen and (max-width:450px){
    #ResultContainer{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width:850px) and (min-width:451px){
    #ResultContainer{
        grid-template-columns: repeat(2,1fr);
    }
}